@use '../breakpoint' as s;


/* ------------- about ----------------*/
.about.section {
  position: relative;

  &__wrapper {
    @include s.mq(){
      width: 90%;
      margin: 0 auto;
    }
    
    &_content {

      &-ttl {
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 7rem;
        position: relative;
        
        &::before {
          display: block;
          color: #d8d8d8;
          font-weight: bold;
          font-size: 7.0vw;
          opacity: 0.6;
          position: absolute;
          top: 0;
          left: 24rem;
          transform: translate(0, -50%);
        }
      }

      &_box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: transparent;
        margin: 0 auto 15rem;
        // border: 1px solid blue;
        // margin-bottom: 15rem;

        @include s.mq(sm){
          display: block;
        }

        &_img {
          box-shadow: -2.5rem 2.5rem 0 0 #d8d8d8;
          border-radius: 0.7rem;
          transform: scale(0.9, 0.9);
          width: 35%;
          background-color: black;
          display: block;
          margin-left: 5%;
          border: 1px solid red;


          @include s.mq(sm){
            width: 80%;
            margin: 20px auto;
            aspect-ratio: 1/1;
            border-radius: 50%;
          }
        }
  
        &_txt-box {
          margin-left: 5rem;
          width: 50%;
          font-family: 'Boku2', sans-serif;
          // border: 1px solid red;


          @include s.mq(sm){
            width: 80%;
            margin: 0 auto;
            // border: 1px solid #333;
          }
  
  
          &_txt-top {
            font-size: 1.8rem;
            line-height: 1.5;
          }

          &_txt-bottom {
            font-size: 2.2rem;
            line-height: 2.0;
            padding-left: 4rem;
            margin: 0 0 0.5rem 4rem;
            position: relative;
            width: 25rem;

            @include s.mq(sm){
              width: 80%;
            }

            .orange-check {
              display: block;
              position: absolute;
              left: 0.4rem;
              top: 30%;
              transform: translate(0, -50%);
              z-index: 1;
              width: 3.0rem;
              height: 3.0rem;
              background: url("img/orange-check.png");
              background-size: contain;
              background-repeat: no-repeat;
              transition: 0.3 ease-out;
              opacity: 0;

              &.active {
                opacity: 1;
              }
            }
            
  
            &::before {
              content: "";
              display: block;
              width: 2.4rem;
              height: 2.4rem;
              background: url("img/square.png");
              background-size: contain;
              background-repeat: no-repeat;
              position: absolute;
              left: 0.4rem;
              top: 50%;
              transform: translate(0, -50%);


            }
  
            &::after {
              content: "";
              display: block;
              width: 100%;
              height: 0.1rem;
              background-color: #333;
              position: absolute;
              bottom: 0;
              left: 0;
            }
          }

        }
      }
      
      &.thought {
        background-color: #ddd6c2;
        width: 80%;
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #dcd2b7;
        opacity: 0;
        transition: 1.0s;

        @include s.mq(sm){
          width: 90%;
        }

        &.active {
          opacity: 1;
          // transform: translate();
        }

        .section__wrapper_content_txt-box_txt {
          text-align: center;
          padding: 3rem 4rem 6rem;
          font-size: 1.8rem;
          line-height: 1.7;
          position: relative;

          &::before {
            content: "";
            display: block;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            opacity: 0.7;
            background-color: #c8d7d4;
            position: absolute;
            top: -2rem;
            left: 50%;
            transform: translate(-50%, 0);
          }

          &::after {
            content: "MBTI : INFJ-A / INFJ-T";
            display: block;
            // background-color: #c8d7d4;
            position: absolute;
            bottom: 1.5rem;
            right: 2rem;
            // transform: translate(-50%, 0);
          }

          .under {
            position: relative;
            background-color: transparent;
            z-index: 1;

            &::before {
              content: "";
              display: block;
              height: 3px;
              width: 100%;
              background-color: #fff;
              opacity: 0.8;
              position: absolute;
              bottom: -3px;
              left: 0;
  
            }
          }


        }
      }

    }
  }
}


